:root {
    --color-white: #fff;
    --color-black: #000;
    --background-dropdowns-light: #bad8f5;
    --background-dropdowns-blue: #459df5;
    --background-dropdowns-main: #e5e5e5;
    --background-dropdowns-shadow: rgba(0, 0, 0, 0.1);
    --button-shadow-normal: #bad8f5;
    --button-shadow-dark: rgba(0, 0, 0, 0.2);
    --background-admin-panel-light: #bad8f5;
    --background-admin-panel-day-light: #ebf0f5;
    --background-icon-orange: #ff8c56;
    --background-icon-green: #0fb864;
    --background-icon-red: #f53152;
  }

body {
    font-family: "Ubuntu", sans-serif;
    font-size: 0.8125rem;
    line-height: 1rem;
    font-weight: 400;
  }