
.table__footer-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* opacity: 0; */
    left: 19.25rem;
    top: -6.75rem;
    width: 10rem;
    height: 7rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--color-white);
    box-shadow: 0 0.5rem 2rem var(--background-dropdowns-shadow),
      0 0.25rem 0.5rem var(--background-dropdowns-shadow),
      0 0.125rem 0.125rem var(--background-dropdowns-shadow);
      cursor: pointer;
  }
  /* .table__footer-dropdown:hover {
    opacity: 1;
  } */

  .dropdown__item-label {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1rem;
    font-size: 0.8125rem;
  }  

  .button__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 1.5rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    color: var(--color-white);
    background-color: var(--background-dropdowns-blue);
    cursor: pointer;
    font-family: "Ubuntu", sans-serif;
  }
  
  .button__item-empty {
    color: var(--background-dropdowns-blue);
    background-color: transparent;
    transition-duration: 0.4s;
    margin-top: 0.5rem;
  }

  .dropdown__item-label {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1rem;
    font-size: 0.8125rem;
  }

  .button__text {
    font-size: 0.8125rem;
    display: block;
    padding-left: 0.25rem;
  }